<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectionwithbeing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Connection With Being"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Exercise Menus -->
        <activity android:name=".NatureMenuActivity"
            android:parentActivityName=".MainActivity"
            android:label="With Nature...">
        </activity>

        <activity android:name=".SocietyMenuActivity"
            android:parentActivityName=".MainActivity"
            android:label="With Society..."/>

        <activity android:name=".OthersMenuActivity"
            android:parentActivityName=".MainActivity"
            android:label="With Others..."/>

        <activity android:name=".SelfMenuActivity"
            android:parentActivityName=".MainActivity"
            android:label="With Self..."/>

        <!-- Exercises Activities -->
        <activity
            android:name=".Exercise1Activity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Questions Activities-->
        <activity
            android:name=".Exercise1Questions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>