<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectionwithbeing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Connection With Being"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Exercise Menus -->
        <activity
            android:name=".NatureMenuActivity"
            android:label="With Nature..."
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SocietyMenuActivity"
            android:label="With Society..."
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OthersMenuActivity"
            android:label="With Others..."
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelfMenuActivity"
            android:label="With Self..."
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>

        <!-- Exercises Activities -->
        <activity
            android:name=".NatureE1Activity"
            android:label="Hug A Tree!"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Questions Activities -->
        <activity
            android:name=".NatureEQ1Activity"
            android:label="Reflections"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>