<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayadev.connectionwithbeing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Engage With Being"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8727538144612368~6258021127"/>

        <activity
            android:name="com.rayadev.connectionwithbeing.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rayadev.connectionwithbeing.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.IntroductionActivity2"
            android:screenOrientation="portrait"
            android:parentActivityName="com.rayadev.connectionwithbeing.IntroductionActivity"/>
        <activity
            android:name="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.ExerciseMenuActivity"
            android:label="Menu Activity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.QuoteActivity"
            android:label="Quote Activity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.ExerciseActivity"
            android:label="Exercise Activity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.QuestionActivity"
            android:label="Question Activity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.ContactActivity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.SettingsActivity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rayadev.connectionwithbeing.AboutActivity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.rayadev.connectionwithbeing.CreditsActivity"
            android:parentActivityName="com.rayadev.connectionwithbeing.MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>